<br><br>
<div class="contentCss">
  <!-- 預設排序方式 : 日期由近到遠 -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 table table-striped table-hover table-bordered">

    <!-- answerId Column -->
    <ng-container matColumnDef="answerId">
      <th mat-header-cell *matHeaderCellDef>編號</th>
      <td mat-cell *matCellDef="let element"> {{element.answerId}} </td>
    </ng-container>

    <!-- answerName Column -->
    <ng-container matColumnDef="answerName">
      <th mat-header-cell *matHeaderCellDef>姓名</th>
      <td mat-cell *matCellDef="let element">{{element.answerName}}</td>
    </ng-container>

    <!-- answerDateTime Column -->
    <ng-container matColumnDef="answerDateTime">
      <th mat-header-cell *matHeaderCellDef>填寫時間</th>
      <td mat-cell *matCellDef="let element"> {{element.answerDateTime}} </td>
    </ng-container>

    <!-- 統計 Column -->
    <ng-container matColumnDef="lookAnswer">
      <th mat-header-cell *matHeaderCellDef>觀看結果</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/look_answer">
          <mat-icon aria-hidden="false" fontIcon="chevron_right" style="cursor: pointer;"></mat-icon>
        </a>
    </ng-container>

    <!-- ------------------------------------------換頁系統------------------------------------------------- -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- 找找換頁頁面的美編 -->
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons aria-label="Select page of periodic elements"
    class="changePage">
  </mat-paginator>
</div>
<!-- 範例 : 把選取的選單名稱顯示在 console log 內 -->
