
.content{
  padding: 20px;
  margin: 0 auto;
  width: 85%;
  border: solid black;
  border-radius: 20px;
  background-color: white;
}
span{
  font-weight: bold;
  font-size: large;
}

.questionName{
  margin-top: 10px;
}


.questionDescribe{
  margin-top: 10px;
}

.date{
  margin-top: 10px;
}

.steatDate{
  margin-right: 250px;
}

.button{
  margin-top: 10px;
  margin-right: 15%;
}

.cancel{
  margin-right: 15px;
}

