<!-- 開始時間、結束時間 -->
<div class="date d-flex justify-content-center">
  <div class="steatDate">
    <span>開始日期 : </span>
    <input class="data_s" type="date" id="start" [value]="" min="{{defaultDate}}" [(ngModel)]="stratDate" />
  </div>
  <div class="endDate">
    <span>結束日期 : </span>
    <input class="data_e" type="date" id="end" [value]="" [min]="stratDate" [(ngModel)]="endDate" />
  </div>
</div>


<!-- 問卷名稱 代辦:service 把問卷名稱帶到下一頁 -->
<div class="questionName">
  <span style="margin-right: 5px;">問卷題目:</span>
  <input type="text" style="width:1200px">
</div>

<!-- 問卷介紹 代辦:service 把問卷描述內容帶到下一頁 -->
<div class="questionDescribe d-flex">
  <span class="align-self-center" style="margin-right: 5px;">問卷描述:</span>
  <textarea name="questionDescribe" id="" cols="147" rows="10"></textarea>
</div>


<div class="button d-flex justify-content-end">
<!-- 返回(取消)按鈕 -->
<button type="button" class="cancel" (click)="backList()">取消</button>

<!-- 前往製作問題內容畫面 -->
<button type="button" class="next">下一步</button>
</div>
