<!-- 查看其中一個使用者的回答所有 -->
<br>
<div class="contentCss">
  <div class="">
    <h5 class=""> 問卷時間: {{ansesr.sDate}} ~ {{ansesr.eDate}} </h5>
    <h2 style="text-align: center;"> {{ansesr.title}} </h2>
    <div style="margin: 5% 0px;">
      <span> {{ansesr.explain}} </span>
    </div>
  </div>
  <div class="">
    <div>
      <label>名稱 : {{ansesr.userName}} </label>
    </div><br>
    <div>
      <label>手機 : {{ansesr.userPhone}}</label>
    </div><br>
    <div>
      <label>信箱 :{{ansesr.userEmail}} </label>
    </div><br>
    <div>
      <label>年齡 : {{ansesr.userAge}}</label>
    </div><br>
  </div>
  <div class="">
    @for (answer of ansesr.questArray; track $index) {
    <span>{{answer.questId}}. {{answer.questName}} </span>
    @if (answer.type == 'M') {
    @for (option of answer.options; track $index) {
    @if (option.boxBoolean) {
    <br>
    <span style="margin-left: 25px;">‧ {{option.optionName}}</span>
    }
    }
    }
    @if (answer.type == "S") {
    @for (answerS of answer.options; track $index) {
    @if(answerS.code == answer.radioAnswer){
    <br>
    <span style="margin-left: 25px;">‧ {{answerS.optionName}} </span>
    }
    }
    }
    @if (answer.type == "T") {
    <br>
    <span style="margin-left: 25px;">‧ {{answer.answer}} </span>
    }
    <br>
    }
  </div>
  <!-- 確認後將資料傳至資料庫 -->
  <!-- <button (click)="submitFinal()">提交最終確認</button> -->
  <br>
  <div class="d-flex justify-content-end">
    <button type="button" (click)="backPage()" class="buttonCss">返回</button>
  </div>
</div>
